<h1>Productos a la Venta</h1>
<div class="row">
  <div class="col">
    <div class="form-group">
      <input type="text" class=" form-control" name="filterProducto" placeholder="Buscar..." [(ngModel)]="filterProducto">
    </div>
  </div>
</div>
<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let producto of productos | filter:filterProducto">
    <div class="card">
      <div class="image">
        <a>
          <img src="../../../assets/imagenproducto.jpeg"
               [alt]="producto.nombre"
               class="card-img-top" />
        </a>
        <div class="card-inner">
          <div class="header">
            <a>
              <h2>{{producto.nombre}}</h2>
            </a>
            <h4 class="text-mueted">{{producto.descripcion}}</h4>
            <small class="text-mueted">{{producto.precio | number: '3.0-2'}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound" *ngIf="productos.length<=0">
    <p>No hay resultados...</p>
  </div>
</div>
